.main-page-container {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.main-page-content {
    background-color: #fff;
}

.left-side-menu {
    padding: 0 10px;
    border-radius: 10px 10px 2px 2px;
}

.col-md-3 {
    padding: 0 5px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    padding: 3px 8px;
    background-color: #507299;
    font-size: 0.9em;
}

.btn-primary:hover {
    background-color: #305075;
    transition: 0.3s;
}

h4 {
    margin: 5px 0 5px 0;
}

.left-side-menu h4 {
    margin: 15px 0 10px 0;
}

p {
    margin: 0 0 5px 0;
}

.thumbnail {
    margin-bottom: 10px;
}

.caption {
    padding: 3px;
}

.left-side-menu ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.left-side-menu li {
    padding: 6px;
    border-radius: 20px;
}

.left-side-menu li:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

.pager {
    margin-top: 10px;
}